body .catalog__box {
  position: fixed;
  z-index: 1001;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  .catalog__left {
    background: #1d1d1d none repeat scroll 0 0;
    float: left;
    height: 100%;
    width: 22%;
    padding: 15px;
    overflow: auto;
    button{
      font-size: 12px;
      margin: 2px 0;
      padding: 6px 34px 6px 5px;
      position: relative;
      white-space: normal;
      width: 286px;
    }
    .get_parent:before{
      content: "<";
      left: 5px;
      position: absolute;
    }
    .get_child:after{
      content: ">";
      right: 5px;
      position: absolute;
    }
    .check__category{
      position: absolute;
      right: 18px;
      top: 8px;
      z-index: 1002;
    }
  }
  .catalog__opacity {
    background: black none repeat scroll 0 0;
    float: left;
    height: 100%;
    opacity: 0.65;
    width: 78%;
  }
}